<div class="container">
  {{#if article}}
  {{#each article}}

  <div class="eachrecord" id="{{_id}}">
    <div class="row">
      <div class="col-sm">
        <h1>Topic: {{topic}}</h1>
        <h2>Headlines: {{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 left">
        <p>{{summary}}</p>
        <br>
        <div class="form-group">
          <label for="Title">NOTE TITLE:</label>
          <input titleid={{_id}} class="form-control" id="Title" aria-describedby="enterTitle" placeholder="Enter Title" value={{note.title}}>
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <textarea areaid={{_id}} class="form-control forminput" rows="5" id="notes">{{note.body}}</textarea>
          <br>
          <button btnid={{_id}} type="save" class="btn btn-secondary savebtn">Save</button>
        </div>
      </div>
      <div class="col-sm-6 right">
        <img class="articleimg" src="{{image}}" alt="N/A">
        <br>
        <a class="articletext" href="{{link}}">See article here</a>
      </div>
    </div>
  </div>

  {{/each}}
  {{else}}
  <div class=alert alert-warning text-center>
    <h4>Uh Oh. Looks Like we don't have any new articles. Try scraping!</h4>
  </div>
  {{/if}}
</div>


<script src="/assets/js/main.js"></script>